<div *ngIf="field.loggedIn" class="padding-bottom-10">
  <div class="">
    <table class="table">
      <thead>
        <tr>
          <ng-container *ngFor="let header of field.columns"><th>{{ header.label }}</th></ng-container>
          <th>{{ field.rdmpLinkLabel }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of field.workspaces">
          <ng-container *ngFor="let column of field.columns">
          <td *ngIf="column.show != false">
            <span *ngIf="column.link; else noProcessing"><a target="_blank" class="{{column.classes || ''}}" rel="noopener noreferrer" href="{{ field.workspaceLink + item[column.property] }}">{{ column.label || ''}}</a></span>
            <ng-template #multivalue></ng-template>
            <ng-template #noProcessing><span >{{ item[column.property] }}</span></ng-template>
          </td>
          </ng-container>
          <td>
            <span *ngIf="!item['linkedState']">
              <button type="button" disabled class="btn btn-info btn-block" [name]="item['@id']"><span><i class="fa fa-spinner fa-spin"></i></span></button>
            </span>
            <span *ngIf="item['linkedState'] === 'linked'">
              <button type="button" disabled class="btn btn-success btn-block" [name]="item['@id']">{{ field.linkedLabel }}</button>
            </span>
            <span *ngIf="item['linkedState'] === 'another'">
              <button type="button" disabled class="btn btn-info btn-block" [name]="item['@id']">{{ field.linkedAnotherLabel }}</button>
            </span>
            <span *ngIf="item['linkedState'] === 'link'">
              <button type="button" class="btn btn-info btn-block" [name]="item['@id']" (click)="field.linkWorkspace(item)">{{ field.linkLabel }}</button>
            </span>
            <span *ngIf="item['linkedState'] === 'problem'">
              <button type="button" disabled class="btn btn-warning btn-block" [name]="item['@id']" >{{ field.linkProblem }}</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination [directionLinks]="false" [boundaryLinks]="true" [totalItems]="field.workspacesMeta.totalCount"
                [(ngModel)]="field.currentPage" (pageChanged)="field.pageChanged($event)" class="pagination-sm"></pagination>
    <div *ngIf="field.loading" class="">
      <img class="center-block" src="/images/loading.svg">
    </div>
    <p *ngIf="field.failedObjects.length > 0">There were {{ field.failedObjects.length }} records that failed to load</p>
    <p *ngIf="field.accessDeniedObjects.length > 0">There were {{ field.accessDeniedObjects.length }} records that you do not have access to</p>
  </div>
  <div class="">
    <button type="button" class="btn btn-default" (click)="field.listWorkspaces()"><i class="fa fa-refresh"></i>&nbsp;{{ field.syncLabel }}</button>
  </div>
</div>
