<div *ngIf="field.loggedIn" class='padding-bottom-10'>
  <div class="">
    <button type="button" class="btn btn-success" (click)="field.loadCreateWorkspaceModal()"><i class="fa fa-plus-square"></i>&nbsp;{{ field.createLabel }}</button>
  </div>
</div>
<div id="createModal" class="modal fade" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">{{ field.createWorkspaceLabel }}</h4>
      </div>
      <div class="modal-body">
        <div *ngIf="field.loadingModal" class="row">
          <img class="center-block" src="/images/loading.svg">
        </div>
        <div *ngIf="!field.loadingModal">
          <h5>{{ field.workspaceDetailsLabel }}</h5>
          <form *ngIf="!field.processing" #form="ngForm" novalidate autocomplete="off">
            <div class="form-group">
              <h4>{{ field.nameWorkspace }}</h4>
              <input required minlength="4" type="text" class="form-control" name="creationName" [(ngModel)]="field.creation.name" attr.aria-label="{{ field.nameWorkspace }}">
            </div>
            <div class="form-group">
              <h4>{{ field.addDescription }}</h4>
              <input required minlength="4" type="text" class="form-control" name="description" [(ngModel)]="field.creation.description" attr.aria-label="{{ field.addDescription }}">
            </div>
          </form>
          <form *ngIf="!field.processing" #form="ngForm" novalidate autocomplete="off">
            <div class="form-group">
              <div *ngFor="let validation of field.validations" class="alert alert-danger">
                <span><i class="fa fa-times"></i> </span>{{ validation.message }}
              </div>
            </div>
            <div class="form-group">
              <div *ngIf="field.creationAlert.message" class="alert alert-{{ field.creationAlert.className  || 'alert' }}">
                <span *ngIf="field.creationAlert.status === 'success'; then isDone; else isWorking;"></span>
                <ng-template #isDone>
                  <i class="fa fa-check-circle"></i>{{ field.creationAlert.message }}
                </ng-template>
                <ng-template #isWorking>
                  <i class="fa fa-spin-circle"></i>{{ field.creationAlert.message }}
                </ng-template>
              </div>
            </div>

          </form>
        </div>
      </div>
      <div class="modal-footer">
        <span *ngIf="field.creationAlert.status !== ('working' || 'done'); then buttonsCreate else buttonsBlocked;"></span>
        <ng-template #buttonsCreate>
          <button *ngIf="field.creationAlert.status !== 'done'" class="btn btn-primary" (click)="field.create()" type="submit">{{ field.createLabel }}</button>
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ field.dismissLabel }}</button>
        </ng-template>
        <ng-template #buttonsBlocked>
          <button disabled class="btn btn-primary disabled"  type="submit">{{ field.createLabel }}</button>
          <button disabled class="btn btn-secondary disabled" type="button">{{ field.dismissLabel }}</button>
        </ng-template>
      </div>
    </div>
  </div>
</div>
